[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 79
target-version = ['py36', 'py37', 'py38']
exclude = '(\.git|ext|build|dist|node_modules)'
# check = true
